Package: com.breitburg.percept
Name: Percept
Depends: mobilesubstrate, preferenceloader
Conflicts: uk.calvink19.percept
Replaces: uk.calvink19.percept
Version: 2.3.1
Architecture: iphoneos-arm
Description: Replaces Siri's answers with any OpenAI-compatible endpoint.
Maintainer: breitburg
Author: breitburg
Section: Tweaks
