Package: com.breitburg.percept
Name: Percept
Depends: mobilesubstrate, me.k3a.ae, preferenceloader
Conflicts: uk.calvink19.percept
Replaces: uk.calvink19.percept
Version: 1.1.0
Architecture: iphoneos-arm
Description: Makes Siri just a little bit smarter.
Maintainer: breitburg
Author: breitburg
Section: Addons (AssistantExtensions)
